# Ignore everything
*

# Un-ignore mod loader bootstrap files
!scripts/mod_loader.gd
!project.godot

# Un-ignore mods-unpacked folder and contents
!mods-unpacked/
!mods-unpacked/**

# Un-ignore project config
!.gitignore
!.gitattributes
!.editorconfig
!LICENSE
!README.md

mods-unpacked/ElKameleon-DescentWithoutDread/testing/